/* .member-paper{
    padding:5px;
    margin: 5px;
}

.member-container{
    height: 60vh;
    overflow: auto;
    margin: 10px;
} */

.flex{
    display: flex;
}

.flex-grow1{
    flex: 1;
}

.margin{
    margin: 10px 0;
}