.member-container{
    height: 60vh;
    overflow: auto;
    margin: 10px;
}

.member-paper{
    padding:5px;
    margin: 5px;
}

.flex{
    display:flex;
    /* width: 80% */
}

.flex-grow1{
    flex-grow: 1;
}

